<header>
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center gap-1">
        <img src="/assets/icon/logo.svg" alt="logo-hubspot" />
        <div class="text-capitalize lh-sm text-white fs-7">
          create <br />
          force
        </div>
      </div>

      <ul
        class="nav-menu text-uppercase d-flex off-white-btn fs-7 gap-3 mb-0"
      >
        <li>platform +</li>
        <li>solutions +</li>
        <li>resources +</li>
        <li>pricing</li>
      </ul>

      <div class="d-flex align-items-center gap-3 fs-7">
        <div class="off-white-btn text-uppercase">login</div>
        <div class="blue-btn text-uppercase me-2">book a demo</div>
        <img src="/assets/icon/search.svg" alt="search" />
      </div>
    </div>
  </div>
</header>